.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px
}
