.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: var(--shadow);
  border: none;
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
}

.btn:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 1px solid #e2e2e2;
  background: transparent;
}
