.box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(46, 46, 46, 0.34);
  padding: 0 20px;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 28px;
  height: 205px;
  width: 100%;
  padding: 0 20px;
}

.dialog > span {
  margin: 65px 0 60px;
}

.choose {
  display: flex;
  width: 100%;
}

.choose div {
  width: 100%;
  text-align: center;
  color: #ff5a5a;
}

.choose div:first-child {
  color: #559d52;
}
