.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
}

.loc {
  margin-top: 41px;
}

.text {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 20px 11px;
}

.map {
  width: 100%;
  height: 290px;
  padding: 0 20px;
}

.track,
.track_complete {
  color: #00a092;
  margin: 28px 0 100px;
  font-size: 18px;
  font-weight: bold;
}

.track_complete {
  color: #afafaf;
}

.select {
  margin-bottom: 50px;
  padding: 13px 125px;
}
