.loc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  width: 105px;
  height: 105px;
  box-shadow: var(--shadow);
  gap: 7px 0;
  cursor: pointer;
}
