.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.loc {
  margin-top: 41px;
}

.text {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 20px 20px;
}

.text_check,
.text_choose {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px 15px;
  align-self: baseline;
}

.text_choose {
  margin-bottom: 20px
}

.form_box {
  display: flex;
  margin: 0 20px 30px;
  gap: 0 20px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.form_box input:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  width: 220px;
  padding: 15px 0;
  border-radius: 24px;
  border: none;
  box-shadow: inset 5px 5px 10px rgba(151, 167, 195, 0.5),
    inset -5px -5px 10px #fff;
  text-align: center;
  color: var(--text);
  width: 100%;
  margin-bottom: 5px;
}

.point_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  gap: 30px 15px;
  position: relative;
}

.point {
  cursor: pointer;
  box-shadow: var(--shadow);
  width: 158px;
  height: 50px;
  text-align: center;
  padding: 13px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 24px;
}

.add {
  display: flex;
  box-shadow: var(--shadow);
  border: none;
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
  padding: 13px 100px;
  margin: auto 0 20px;
  bottom: 0px;
}
