.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.loc {
  margin-top: 41px;
}

.text {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 20px 80px;
}

.box > form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form_box {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.form_box:first-child {
  margin-bottom: 40px;
}

.form_box:nth-child(2) {
  margin-bottom: 235px;
}

.form_box > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  width: 220px;
  padding: 15px 0;
  border-radius: 24px;
  border: none;
  box-shadow: inset 5px 5px 10px rgba(151, 167, 195, 0.5),
    inset -5px -5px 10px #fff;
  margin-left: 40px;
  text-align: center;
  color: var(--text);
  background: rgba(239, 239, 239, 0.3);
  outline: none;
}

.submit {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: var(--shadow);
  border: none;
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
  padding: 13px 115px;
}
