.box,
.start {
  display: flex;
  height: 100vh;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.box > span {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 56px;
  cursor: pointer;
}

.start > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 105px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  align-self: center;
}
