:root {
  --bgColor: #ecf0f3;
  --text: #707070;
  --shadow: -10px -10px 20px #fff, 10px 10px 20px rgba(151, 167, 195, 0.5);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", monospace;
  background-color: var(--bgColor);
  height: 100vh;
  color: var(--text);
}
